<div class="content-wrapper">

    <div class="alert-container" *ngIf="(errorResponse | async)">
        <div class="alert alert-danger alert-dismissible" *ngIf="(errorResponse | async)">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                (click)="dismissError()">&times;</button>
            <p class="m-0" *ngFor="let message of (errorResponse | async).messages">{{ message }}</p>
        </div>
    </div>
    
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">

            <div class="row">

                <!--<div class="col-lg-3 col-6" *ngIf="(pagedNews | async)">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ (pagedNews | async).count }}</h3>
                            <p>Articles</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-copy"></i>
                        </div>
                        <a routerLink="/news" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6" *ngIf="(pagedPodcasts | async)">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{ (pagedPodcasts | async).count }}</h3>
                            <p>Podcasts</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-podcast"></i>
                        </div>
                        <a routerLink="/podcasts"class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6" *ngIf="(homeData | async)">
                    <div class="small-box bg-warning">
                        <div class="inner text-white">
                            <h3>{{ (homeData | async).shows.length }}</h3>
                            <p>Today's Shows</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                        <a routerLink="/shows" class="small-box-footer"><span class="text-white">More Info </span><i class="fas fa-arrow-circle-right text-white"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6" *ngIf="(homeData | async)">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <div *ngIf="(homeData | async).audioSource?.url; else elseBlock">
                                <audio controls style="width: 100%; height: 46px;">
                                    <source src="{{ (homeData | async).audioSource?.url }}">
                                </audio>
                            </div>
                            <ng-template #elseBlock>
                                <h3>Stream Not Set</h3>
                            </ng-template>
                            <p>Stream</p>
                        </div>
                        <a routerLink="/stream" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>-->

            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-copy mr-1"></i>
                        Articles
                    </h3>
                </div>
                <div class="card-body p-0">
                    <!--<table class="table table-hover text-nowrap" *ngIf="(homeData | async)">
                        <tbody>
                            <tr *ngFor="let article of (homeData | async).news">
                                <td style="width: 20%;">{{ article.created | date }}</td>
                                <td>{{ article.title }}</td>
                            </tr>
                        </tbody>
                    </table>-->
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-podcast mr-1"></i>
                        Podcats
                    </h3>
                </div>
                <div class="card-body p-0">
                    <!--<table class="table table-hover text-nowrap" *ngIf="(homeData | async)">
                        <tbody>
                            <tr *ngFor="let podcast of (homeData | async).podcasts">
                                <td style="width: 20%;">{{ podcast.created | date }}</td>
                                <td>{{ podcast.title }}</td>
                            </tr>
                        </tbody>
                    </table>-->
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-calendar-alt mr-1"></i>
                        Shows
                    </h3>
                </div>
                <div class="card-body p-0">
                    <!--<table class="table table-hover text-nowrap" *ngIf="(homeData | async)">
                        <tbody>
                            <tr *ngFor="let show of (homeData | async).shows">
                                <td style="width: 20%;">{{ show.startTime }} - {{ show.endTime }}</td>
                                <td>{{ show.title }}</td>
                            </tr>
                        </tbody>
                    </table>-->
                </div>
            </div>

        </div>
    </section>
</div>