<div class="p-3" *ngIf="(errorResponse | async)" style="background-color: #e9ecef">
    <div class="alert alert-danger alert-dismissible mb-0" *ngIf="(errorResponse | async)">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
            (click)="dismissError()">&times;</button>
        <p class="m-0" *ngFor="let message of (errorResponse | async).messages">{{ message }}</p>
    </div>
</div>

<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a routerLink="/auth"><b>Skyz Metro</b> CMS</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register a new membership</p>

                <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
                    <div class="mb-3">
                        <div class="input-group mb-0">
                            <input type="text" class="form-control" placeholder="First name" id="firstname"
                                formControlName="firstname">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col" *ngIf="registerForm.controls.firstname?.touched">
                            <small class="text-danger"
                                *ngIf="registerForm.controls.firstname.errors?.['required']">First name is
                                required</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group mb-0">
                            <input type="text" class="form-control" placeholder="Last name" id="lastname"
                                formControlName="lastname">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col" *ngIf="registerForm.controls.lastname?.touched">
                            <small class="text-danger" *ngIf="registerForm.controls.lastname.errors?.['required']">Last
                                name is required</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group mb-0">
                            <input type="email" class="form-control" placeholder="Email" id="email"
                                formControlName="email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col" *ngIf="registerForm.controls.email?.touched">
                            <small class="text-danger" *ngIf="registerForm.controls.email.errors?.['required']">Email is
                                required</small>
                            <small class="text-danger" *ngIf="registerForm.controls.email.errors?.['email']">Not a valid
                                Email</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group mb-0">
                            <input type="password" class="form-control" placeholder="Password" id="password"
                                formControlName="password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col" *ngIf="registerForm.controls.password?.touched">
                            <small class="text-danger"
                                *ngIf="registerForm.controls.password.errors?.['required']">Password is required</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group mb-0">
                            <input type="password" class="form-control" placeholder="Retype password" id="password2"
                                formControlName="password2">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span class="col"
                            *ngIf="registerForm.get('password').valid && registerForm.get('password2').dirty && (registerForm.get('password').value !== registerForm.get('password2').value)">
                            <small class="text-danger">Password and Confirm Password must match</small>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" name="terms" value="agree" id="terms" formControlName="terms">
                                <label for="terms">
                                    I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block"
                                [disabled]="!registerForm.valid || (registerForm.get('password').value !== registerForm.get('password2').value)">Register</button>
                        </div>
                    </div>
                    <div class="col" *ngIf="registerForm.controls.terms?.touched">
                        <small class="text-danger" *ngIf="registerForm.controls.email.errors?.['required']">Agree to
                            terms</small>
                    </div>
                </form>

                <a routerLink="/login" class="text-center">I already have a membership</a>
            </div>

        </div>
    </div>

</body>