<div class="p-3" *ngIf="(errorResponse | async)" style="background-color: #e9ecef">
    <div class="alert alert-danger alert-dismissible mb-0" *ngIf="(errorResponse | async)">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"
            (click)="dismissError()">&times;</button>
        <p class="m-0" *ngFor="let message of (errorResponse | async).messages">{{ message }}</p>
    </div>
</div>

<body class="hold-transition login-page">

    <div class="login-box">
        <div class="login-logo">
            <a routerLink="/auth"><b>ZAMA</b> REGISTRAR</a>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="mb-3">
                    <div class="mb-3">
                        <div class="input-group mb-0">
                            <input type="email" class="form-control" placeholder="Email" id="email"
                                formControlName="email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col" *ngIf="loginForm.controls.email?.touched">
                            <small class="text-danger" *ngIf="loginForm.controls.email.errors?.['required']">Email is
                                required</small>
                            <small class="text-danger" *ngIf="loginForm.controls.email.errors?.['email']">Not a valid
                                Email</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group mb-0">
                            <input type="password" class="form-control" placeholder="Password" id="password"
                                formControlName="password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col" *ngIf="loginForm.controls.password?.touched">
                            <small class="text-danger" *ngIf="loginForm.controls.email.errors?.['required']">Password is
                                required</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" formControlName="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Sign
                                In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</body>